* {
    margin: 0;
    padding: 0;
    overflow-x: 0;
    font-family: 'Open Sans', 'Helvetica', 'Arial', sans-serif;
    ;
}

html {
    scroll-behavior: smooth;

}


.logo {
    width: 30%;
    height: 35%;
    filter: drop-shadow(2px 2px 2px #000000);

}
.bold{
    font-weight: bold;
}

.bg-custom {
    background: rgb(94, 101, 156);
    opacity: 0.9;
}

nav .navbar-nav li a {
    color: white !important;
}

nav .navbar-nav li a:hover {
    color: rgba(255, 255, 255, 0.397) !important;
}

::-webkit-scrollbar {
    display: none;
}

img {
    max-width: 100%;
    height: auto;
}

.info {
    font-weight: 200;
}

.btn-informacion {
    display: inline-block;
    padding: 10px 14px;
    color: #FFF;
    border: 1px solid #FFF;
    text-decoration: none;
    font-size: 14px;
    font-weight: normal;
    line-height: 120%;
    background-color: rgba(255, 255, 255, 0);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-transition: background-color 300ms ease;
    -moz-transition: background-color 300ms ease;
    transition: background-color 300ms ease;
    cursor: pointer;
}

.btn-informacion:hover {
    background-color: rgba(255, 255, 255, 0.404);
    color: #FFF;
    text-decoration: none;

}
.mobile-info{
    padding: 0;
}
.title{
    font-size: 30px;
    font-weight: 400;
    margin: 5px 45px 0px 45px;

}
@media only screen and (min-width: 320px)
                    and (max-width: 900px) {
    .navbar-brand {
        float: right !important;
    }

    .logo {
        width: 200px;
    }

    .info {
        font-size: 20px;
        text-align: center;
    }
    .carousel-caption {
        margin-bottom: 250px !important;
    }
    .brand-header{
        width: 100% !important;
    }
    .title{
        font-size: 26px;
    }

}
@media only screen and (min-width: 361px)
                    and (max-width: 900px) {
    .navbar-brand {
        float: right !important;
    }

    .logo {
        width: 200px;
    }

    .info {
        font-size: 20px;
        text-align: center;
    }
    .carousel-caption {
        margin-bottom: 250px !important;
    }
    .brand-header{
        width: 100% !important;
    }
    .title{
        font-size: 26px;
    }

}
@media only screen and (min-width: 361px)
                    and (max-width: 900px)
                    and (orientation: landscape) {
    .navbar-brand {
        float: right !important;
    }

    .logo {
        width: 200px;
    }

    .info {
        font-size: 15px;
        text-align: center;
    }
    .carousel-caption {
        margin-bottom: 0 !important;
    }
    .brand-header{
        width: 50% !important;
    }
    .title{
        font-size: 26px;
    }

}

@media only screen and (max-width: 360px){
    .navbar-brand {
        float: right !important;
    }

    .logo {
        width: 200px;
    }

    .info {
        font-size: 15px;
        text-align: center;
    }
    .carousel-caption {
        margin-bottom: 175px !important;
       
    
    }
    .title{
        font-size: 26px;
    }
}


.section1-text{
    word-spacing: 1px;
    margin: 10px 50px 0px 50px;
}

.carousel-item {
    height: 100vh;
    min-height: 350px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.carousel-caption {
    margin-bottom: 12%;
    filter: drop-shadow(2px 2px 2px #000000);
    text-shadow: 0.1em 0.1em 0.1em rgba(0, 0, 0, 0.329);

}

#nav{
    transition: top 0.3s;
}
.btn-section{
    display: inline-block;
	padding: 10px 14px;
	color: rgb(0, 0, 0);
	border: 1px solid rgb(0, 0, 0);
	text-decoration: none;
	font-size: 14px;
	line-height: 120%;
	background-color: rgba(255,255,255, 0);
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-transition: background-color 300ms ease;
	-moz-transition: background-color 300ms ease;
	transition: background-color 300ms ease;
	cursor: pointer;
}
.btn-section:hover{
    background-color: rgba(0, 0, 0, 0.164);
    color: rgb(0, 0, 0);
    text-decoration: none;
}
.card{
    margin-left: auto;
    margin-right: auto;
    
}